.notfound {
    text-align: center;
    margin-top: 100px;
    h4 {
        font-size: 22px;
        font-weight: 600;
        line-height: 26px;
        margin-bottom: 30px;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    a {
        color: #00376b;
        text-decoration: none;
    }
}
